.styled-table {
  margin: 0 auto;
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 700px;
  height: 90vh;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 1px solid #dddddd;
}

.table-header {
  width: 100%;
  background: #194394;
  color: white;
}

.table-row {
  width: 100%;
}

.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
  justify-content: center;
  bottom: 0;
}

.pagination > .active > a {
  background-color: #194394;
  color: white;
  border: 1px solid #194394;
}

.pagination > li > a {
  padding: 8px 16px;
  text-decoration: none;
  transition: #194394 0.3s;
  border: 1px solid #ddd;
  margin: 0 4px;
  outline: none;
  cursor: pointer;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #194394;
  outline: none;
}

.pagination > li > a,
.pagination > li > span {
  color: black;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset;
}
